<!-- Main navigation -->
<header>
  <!--Navbar-->
  <div class="container-fluid">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light  fixed-top scrolling-navbar">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>LifeGraph</strong></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#" [routerLink]="['aboutus']">About Us</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Mental</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Physical</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Special</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
        <form class="search_form">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link">
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <div class="btn-group" mdbDropdown>
                <span class="font-weight-bold">EN</span>
                <mdb-icon fas icon="caret-down" mdbDropdownToggle></mdb-icon>
                <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  </div>
  
</header>