<div class="container-fluid main_margintop profile_details">
  <div class="row my-5">
    <div class="col-md-3">
      <!-- Card -->
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up morpheus-den-gradient">


          <!--Avatar-->
          <div class="avatar mx-auto profile_author">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded_profileimage rounded-circle">
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4 class="profile_username">Keith Delgado</h4>
              <h6 class="profile_email">keithdelgado@gmail.com</h6>
            </mdb-card-title>
            <!--Quotation-->
            <div class="list-group menu_group">
                <a href="#" class="list-group-item active waves-light" mdbWavesEffect>
                  View Profile
                </a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Edit Profile</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Active Log</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Account Settings</a>
                <a href="#" class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect>My Stats</a>
              </div>
          </mdb-card-body>
        </div>
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col-md-9">

    </div>
  </div>
</div>
