$font-family: "Montserrat-SemiBold";
$font-color:#ffffff;
$icon-color:#ffff;
$icon-width: 24px;
$icon-height: 24px;
$form-font-color:#292929;
$text-overlay-color:#ffff;
$font-weight:600;
$letter-spacing:0.5px;

.profile_details {
    .mask {
        // width: 350px;
        height: 725px;
        background: linear-gradient(180deg, #33226A, #2B7AA2);
        box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.2);
        border-radius: 15px;

        .profile-span {
            width: 28px;
            height: 16px;
            background: #ffff;
            // z-index: 1;
            position: absolute;
            float: right;
            margin-top: 20px;
            right: 30px;

        }

        .profile_avatar {
            width: 120px;
            height: 120px;
            border: solid 2px $font-color;
            box-shadow: 0px 2px 4px rgba(31, 37, 40, 0.35);
        }

        .profile_username {
            color: $font-color;
            font-family: $font-family;
            font-size: 22px;
            font-weight: 400;
            line-height: 32px;
            text-align: center;
        }

        .profile_email {
            color: $font-color;
            font-family: $font-family;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }

        .menu_group {
            .list-group-item {
                border: none !important;
                background: none !important;
                color: #fff !important;
                text-align: center !important;
            }

            .active {
                border-left: solid 4px blue;
            }
        }

        .groupname {
            // width: 150.3px;
            // height: 32px;
            color: $font-color;
            font-family: $font-family;
            // font-size: 24px;
            font-weight: 600;
            // line-height: 32px;
            text-align: center;
            margin-bottom: 0.2rem !important;
        }

        .groupemail {
            // width: 215.04px;
            // height: 25px;
            color: $font-color;
            font-family: $font-family;
            // font-size: 19px;
            font-weight: 400;
            // line-height: 25px;
            text-align: center;
            margin-bottom: 0.2rem !important;
        }

        .profile-icon {
            width: $icon-width;
            height: $icon-height;
            color: $icon-color;
        }
    }

    .profile-skills {
        // width: 896px;
        // height: 615px;
        border-radius: 15px;
        background: #ffffff;
        box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.2);

        .skills-title {
            color: #242424;
            font-family: $font-family;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            text-align: center;

        }

        .skills-arrow {
            position: absolute;
            content: '';
            width: 2px;
            height: 80px;
            bottom: 0;
            top: -45px;
            left: 50%;
            -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
            transform: translateY(100%);
            background-image: linear-gradient(to bottom, #525252 100%, rgba(255, 255, 255, 0) 0%) !important;
            background-position: left;
            background-size: 3px 11px;
            background-repeat: repeat-y;


            .skills-arrow-span {
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid #525252;
                position: absolute;
                top: 80px;
                // right: -215%;
                left: -325%;
                z-index: -1;
            }
        }

        .circle {
            position: relative;


            img {
                --webkit-clip-path: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
                width: 100px;
                height: 100px;
                border: 2px solid #f1f1f1;
                border-radius: 50%;
            }

            .hv-overlay {
                --webkit-clip-path: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
                position: absolute;
                bottom: 0%;
                background: none !important;
                transition: .5s ease;
                opacity: 1;
                color: $text-overlay-color;
                text-align: center;
                width: 100px;
                height: 100px;
                border: none;
                border-radius: 50%;
            }

            .hv-overlay-text {
                color: $text-overlay-color;
                z-index: 1;
                position: absolute;
                bottom: 30%;
                width: 100px;
                left: 50%;
                margin-left: -50px;
                top: 25%;
                font-weight: 400;
                text-align: center;
                letter-spacing: $letter-spacing;
            }
        }

    }

    .profile-info {
        // width: 896px;
        // height: 905px;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.2);


        .profile-personal {
            color: $form-font-color;
            font-family: $font-family;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.7142857px;
        }

        .profile-heading {
            color: #292929;
            font-family: $font-family;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.7142857px
        }

        .address-note {
            height: 18px;
            color: #a7a7a7;
            font-family: $font-family;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.5555555px;
            text-align: left;
        }

        .profile-savechanges {
            width: 200px;
            height: 50px;
            border-radius: 4px;
            background: linear-gradient(45deg, #42B63C, #338627);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            text-transform: capitalize;
            font-size: 14px;
        }

        .profile_cancel {
            width: 200px;
            height: 50px;
            border-radius: 4px;
            background: linear-gradient(45deg, #F66037, #EC1D0F);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            text-transform: capitalize;
            font-size: 14px;
        }
    }
}