<section class="contentSection text-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <!-- Main component -->
      <div class="hv-wrapper" style="overflow-x: auto;">
        <!-- Key component -->
        <div class="hv-item">
          <br /><br />
          <div class="hv-item-parent">
            <div> <span class="parent-line"></span> </div>
            <div> <span class="point-parent-top-span"></span> </div>
            <div class="parent-margin">
              <div class="t-text-width"><span>Climbing</span></div>
              <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
              <div> <img src="/assets/images/physical/11.png" class="img-round-shape" alt="..."></div>
            </div>
            <div> <span class="child-bottom-point-span"></span> </div>
          </div>

          <div class="hv-item-children">
            <div class="hv-item-child">
              <div> <span class="point-span"></span></div>
              <div class="child-margin">
                <div class="t-text-width"><span>Riyadh On-Sight Climbers</span></div>
                <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                <div class="round-shape-container content-mg">
                  <img src="/assets/images/physical/10.png" class="img-round-shape" alt="...">
                  <div class="overlay progress-66"><span class="align-middle">Progrees <br /> 66/100</span></div>
                </div>
              </div>
            </div>

            <div class="hv-item-child">
              <div class="hv-item">

                <div class="hv-item-parent">
                  <div> <span class="point-span"></span></div>
                  <div class="child-margin">
                    <div class="t-text-width"><span>Top Rope</span></div>
                    <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                    <div class="round-shape-container content-mg">
                      <img src="/assets/images/physical/16.png" class="img-round-shape" alt="...">
                      <div class="overlay progress-100"><span class="align-middle">Progrees <br /> 100/100</span></div>
                    </div>
                  </div>
                  <div> <span class="child-bottom-point-span"></span> </div>
                </div>

                <div class="hv-item-children">
                  <div class="hv-item-child">
                    <div> <span class="point-span"></span></div>
                    <div class="child-margin">
                      <div class="t-text-width"><span>Rope Climbing</span></div>
                      <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                      <div class="round-shape-container content-mg">
                        <img src="/assets/images/physical/17.png" class="img-round-shape" alt="...">
                        <div class="overlay progress-72"><span class="align-middle">Progrees <br /> 72/100</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="hv-item-child">
                    <div> <span class="point-span"></span></div>
                    <div class="child-margin">
                      <div class="t-text-width"><span>New Goal</span></div>
                      <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                      <div class="round-shape-container content-mg">
                        <img src="/assets/images/physical/12.png" class="img-round-shape" alt="...">
                        <div class="overlay progress-66"><span class="align-middle">Progrees <br /> 66/100</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="hv-item-child">
                    <div class="hv-item">

                      <div class="hv-item-parent">
                        <div> <span class="children-line"></span> </div>
                        <div> <span class="children-top-point-span"></span></div>
                        <div class="parent-margin">
                          <div class="t-text-width child-text-mg"><span>New Top Rope</span></div>
                          <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                          <div class="round-shape-container round-img-lg content-mg">
                            <img src="/assets/images/physical/16.png" class="img-round-shape round-img-lg" alt="...">
                            <div class="overlay progress-100 img-border"><span class="align-middle">Progrees <br />
                                100/100</span>
                            </div>
                          </div>
                        </div>
                        <!-- <div> <span class="child-bottom-point-span"></span> </div> -->
                      </div>

                      <div class="hv-item-children childern-view">
                        <div class="hv-item-child">
                          <div> <span class="point-span"></span></div>
                          <div class="child-margin">
                            <div class="t-text-width child-text-mg"><span>Fullfils</span></div>
                            <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                            <div class="round-shape-container content-mg">
                              <img src="/assets/images/physical/13.png" class="img-rhombus-shape" alt="...">
                              <div class="overlay bg-none"><span class="align-middle">Bouldering </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hv-item-child">
                          <div class="hv-item childern-mg">

                            <div class="hv-item-parent">
                              <div> <span class="children-line"></span> </div>
                              <!-- <div> <span class="children-top-point-span"></span></div> -->
                              
                              <!-- <div> <span class="child-bottom-point-span"></span> </div> -->
                            </div>
                            <div class="hv-item-children">
                              <div class="hv-item-child">
                                <div class="hv-item">
                                  <div class="hv-item-parent">
                                    <div> <span class="point-span"></span></div>
                                    <div class="child-margin">
                                      <div class="t-text-width child-text-mg"><span>Riyadh On-Sight Climbers</span>
                                      </div>
                                      <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                      <div class="round-shape-container content-new-mg">
                                        <img src="/assets/images/physical/10.png" class="img-round-shape " alt="...">
                                        <div class="overlay progress-100 "><span class="align-middle">Progrees <br />
                                            100/100</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div><span class="child-bottom-point-span"></span></div>
                                    <div> <span class="child-new-point-span"></span></div>
                                  </div>
                                  <div class="hv-item-children">
                                    <div class="hv-item-child">
                                      <div> <span class="point-span"></span></div>
                                      <div class="child-margin">
                                        <div class="t-text-width"><span>Rope Climbing</span></div>
                                        <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                        <div class="round-shape-container content-mg">
                                          <img src="/assets/images/physical/17.png" class="img-round-shape" alt="...">
                                          <div class="overlay progress-72"><span class="align-middle">Progrees <br />
                                              72/100</span></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="hv-item-child">
                                      <div> <span class="point-span"></span></div>
                                      <div class="child-margin">
                                        <div class="t-text-width"><span>New Goal</span></div>
                                        <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                        <div class="round-shape-container content-mg">
                                          <img src="/assets/images/physical/12.png" class="img-round-shape" alt="...">
                                          <div class="overlay progress-66"><span class="align-middle">Progrees <br />
                                              66/100</span></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="hv-item-child">
                                <div> <span class="point-span"></span></div>
                                <div class="child-margin">
                                  <div class="t-text-width"><span>Top Rope</span></div>
                                  <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                  <div class="round-shape-container content-mg">
                                    <img src="/assets/images/physical/16.png" class="img-round-shape" alt="...">
                                    <div class="overlay progress-66"><span class="align-middle">Progrees <br />
                                        66/100</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="hv-item-child">
                                <div class="hv-item-child">
                                  <div class="hv-item">
                                    <div class="hv-item-parent">
                                      <div> <span class="point-span"></span></div>
                                      <div class="child-margin">
                                        <div class="t-text-width child-text-mg"><span>Bouldering</span></div>
                                        <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                        <div class="round-shape-container content-mg">
                                          <img src="/assets/images/physical/9.png" class="img-round-shape " alt="...">
                                          <div class="overlay progress-100 "><span class="align-middle">Progrees <br />
                                              100/100</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div><span class="child-bottom-point-span"></span></div>
                                      <div> <span class="child-new-point-span"></span></div>
                                    </div>
                                    <div class="hv-item-children">
                                      <div class="hv-item-child">
                                        <div> <span class="point-span"></span></div>
                                        <div class="child-margin">
                                          <div class="t-text-width"><span>Rope Climbing</span></div>
                                          <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                          <div class="round-shape-container content-mg">
                                            <img src="/assets/images/physical/17.png" class="img-round-shape" alt="...">
                                            <div class="overlay progress-72"><span class="align-middle">Progrees <br />
                                                72/100</span></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="hv-item-child">
                                        <div> <span class="point-span"></span></div>
                                        <div class="child-margin">
                                          <div class="t-text-width"><span>New Goal</span></div>
                                          <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                          <div class="round-shape-container content-mg">
                                            <img src="/assets/images/physical/12.png" class="img-round-shape" alt="...">
                                            <div class="overlay progress-66"><span class="align-middle">Progrees <br />
                                                66/100</span></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hv-item-child">
                          <div> <span class="point-span"></span></div>
                          <div class="child-margin">
                            <div class="t-text-width child-text-mg"><span>Recommended</span></div>
                            <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                            <div class="round-shape-container content-mg">
                              <img src="/assets/images/physical/9.png" class="img-circle-shape" alt="...">
                              <div class="overlay bg-none bg-text-center "><span class="align-middle">Climbing</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hv-item-child">
                          <div> <span class="point-span"></span></div>
                          <div class="child-margin">
                            <div class="t-text-width child-text-mg"><span>Needed (4)</span></div>
                            <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                            <div class="round-shape-container content-mg">
                              <img src="/assets/images/physical/15.png" class="img-octagon-shape t-margin" alt="...">
                              <div class="overlay bg-none bg-text-center"><span class="align-middle">Progrees <br />
                                  100/100</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="hv-item-child">
                    <div> <span class="point-span"></span></div>
                    <div class="child-margin">
                      <div class="t-text-width"><span>Bouldering (Hard)</span></div>
                      <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                      <div class="round-shape-container content-mg">
                        <img src="/assets/images/physical/13.png" class="img-round-shape" alt="...">
                        <div class="overlay progress-89"><span class="align-middle">Progrees <br /> 89/100</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hv-item-child">
                    <div> <span class="point-span"></span></div>
                    <div class="child-margin">
                      <div class="t-text-width"><span>Top Mountain</span></div>
                      <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                      <div class="round-shape-container content-mg">
                        <img src="/assets/images/physical/9.png" class="img-round-shape" alt="...">
                        <div class="overlay progress-56"><span class="align-middle">Progrees <br /> 56/100</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hv-item-child">
              <div> <span class="point-span"></span></div>
              <div class="child-margin">
                <div class="t-text-width"><span>Bouldering</span></div>
                <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                <div class="round-shape-container content-mg">
                  <img src="/assets/images/physical/9.png" class="img-round-shape" alt="...">
                  <div class="overlay progress-66"><span class="align-middle">Progrees <br /> 66/100</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- <div class="row">
      <ol class="organizational-chart">
        <li>
          <div>
            <h1>Primary</h1>
          </div>
          <div>
            <h1>Primary</h1>
          </div>
          <div>
            <h1>Primary</h1>
          </div>
          <ol>
            <li>
              <div>
                <h2>Secondary</h2>
              </div>
              <ol>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                  <ol>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                    </li>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                      <ol>
                        <li>
                          <div>
                            <h5>Quinary</h5>
                          </div>
                        </li>
                        <li>
                          <div>
                            <h5>Quinary</h5>
                          </div>
                          <ol>
                            <li>
                              <div>
                                <h6>Senary</h6>
                              </div>
                            </li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                    </li>
                  </ol>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
              </ol>
            </li>
            <li>
              <div>
                <h2>Secondary</h2>
              </div>
              <ol>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                  <ol>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                    </li>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                    </li>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <div>
                <h2>Secondary</h2>
              </div>
              <ol>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                  <ol>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                      <ol>
                        <li>
                          <div>
                            <h5>Quinary</h5>
                          </div>
                          <ol>
                            <li>
                              <div>
                                <h6>Senary</h6>
                              </div>
                            </li>
                            <li>
                              <div>
                                <h6>Senary</h6>
                              </div>
                            </li>
                          </ol>
                        </li>
                        <li>
                          <div>
                            <h5>Quinary</h5>
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
              </ol>
            </li>
            <li>
              <div>
                <h2>Secondary</h2>
              </div>
              <ol>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                  <ol>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                    </li>
                    <li>
                      <div>
                        <h4>Quaternary</h4>
                      </div>
                    </li>
                  </ol>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>Tertiary</h3>
                  </div>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div> -->


</section>