<!-- header  -->
<!-- Full Page Intro -->
<div class="header-bg">
  <div class="view"
    style="background-image: url('/assets/images/bg/3.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-top">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div
            class="col-md-9 offset-md-2 col-lg-9 offset-lg-2 col-sm-8  offset-sm-2  white-text text-center text-md-left  wow fadeInLeft inner_lessopacity"
            data-wow-delay="0.3s">
            <div class="banner_desc system_border_radius">
              <h1 class="h1-responsive font-weight-bold ">How does it works </h1>
              <!-- <hr class="hr-light"> -->
              <h6 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
                fuga nesciunt
                dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiaeLorem ipsum
                dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
                fuga nesciunt
                dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                iste.</h6>
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    <div class="Mask align-items-center flex-arrow-holder">
      <div class="container-fluid">
        <!--Grid row-->
        <div class="row arrowholder">
          <div class="col-md-6 col-sm-6 col-xs-6" style="width:50% !important;text-align: center;">
            <a class="arrow_btn" (click)="scrollToSection('#physicalSection')">
              <mdb-icon fas class="physical_themecolorLight arrow_bounce" data-wow-delay="1s" icon="chevron-down"
                size="4x">
              </mdb-icon>
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6" style="width:50% !important;text-align: center;">
            <a class="arrow_btn " (click)="scrollToSection('#mentalSection')">
              <mdb-icon fas class="mental_themecolorLight arrow_bounce" data-wow-delay="1s" icon="chevron-down"
                size="4x">
              </mdb-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Full Page Intro -->
<!-- Main navigation -->
<div class="hero-section container-fluid m-t-5px">
  <div class="row" style="overflow: hidden;margin:0px -10px">
    <div class="col" style="padding: 0; position:relative;" (click)="scrollToSection('#physicalSection')">
      <div class="head-bg mental-bg">
        <div class="mental-section">
          <h1>Physical</h1>
        </div>
      </div>
    </div>
    <div class="col" style="padding: 0; position:relative;" (click)="scrollToSection('#mentalSection')">
      <div class="head-bg physical-bg">
        <div class="physical-section">
          <h1>Mental</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section *ngIf="activatesection == true" class="contentSection text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="physicalSection p-r-5 p-l-0" id="physicalSection"
        [ngClass]="[(activedPhysicalSection == true) ? 'col-md-10': 'col-md-2 d-none d-sm-block']">
        <div class="pb-2  physicalSectionContainer system_border_radius z-depth-1">
          <!--Grid row-->
          <div class="row">
            <div [ngClass]="[(activedPhysicalSection == true) ? 'col-md-7': 'col-md-12']">
              <div class="card-image ">
                <div class="text-white text-center d-flex align-items-center rounded"
                  [ngClass]="[(activedPhysicalSection == true) ? 'p-15': 'py-5 py-4']">
                  <div class="center-align-db box_head_holder" id="physicalSection_title">
                    <h3 class="py-3 font-weight-bold box_title"
                      [ngClass]="{ 'tranform_text' :(activedPhysicalSection == false)}">
                      <strong>Physical</strong>
                    </h3>
                    <button [ngClass]="{ 'hide' :(activedPhysicalSection == false)}" type="button" mdbBtn color="light"
                      class="waves-light" mdbWavesEffect>
                      <i class="far fa-clone left"></i> Create Graph
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="activedPhysicalSection == true">
              <div class="row m-40">
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="/assets/images/physical/1.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="/assets/images/physical/2.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="/assets/images/physical/3.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="/assets/images/physical/4.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="/assets/images/physical/5.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="/assets/images/physical/6.jpg" class="img-fluid z-depth-3 grid_img">
                </div>

              </div>
            </div>
            <!--Grid column-->
          </div>
        </div>
      </div>
      <div class="mentalSection p-r-0 p-l-0" id="mentalSection"
        [ngClass]="[(activatedMentalSection == true) ? 'col-md-10': 'col-md-2 d-none d-sm-block']">
        <div class="pb-2  mentalSectionContainer system_border_radius z-depth-1">
          <div class="row m-r-0">
            <div
              [ngClass]="[(activatedMentalSection == true) ? 'col-md-7': 'col-md-12',(activatedMentalSection == true) ? 'rotateOutUpLeft': 'rotateOutUpRight']">
              <div class="card-image ">
                <div class="text-white text-center d-flex align-items-center rounded"
                  [ngClass]="[(activatedMentalSection == true) ? 'p-15': 'py-5 py-4']">
                  <div class="center-align-db box_head_holder" id="mentalSection_title">
                    <h3 class="py-3 font-weight-bold box_title"
                      [ngClass]="{ 'tranform_text' :(activatedMentalSection == false)}">
                      <strong>Mental</strong>
                    </h3>
                    <button [ngClass]="{ 'hide' :(activatedMentalSection == false)}" type="button" mdbBtn color="light"
                      class="waves-light" mdbWavesEffect>
                      <i class="far fa-clone left"></i> Create Graph
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4" *ngIf="activatedMentalSection == true">
              <div class="row m-40">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img src="/assets/images/physical/1.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img src="/assets/images/physical/2.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img src="/assets/images/physical/3.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <img src="/assets/images/physical/4.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <img src="/assets/images/physical/5.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img src="/assets/images/physical/6.jpg" class="img-fluid z-depth-3 grid_img">
                </div>

              </div>
            </div>
          </div>
          <!--Grid column-->
        </div>
      </div>
    </div>
  </div>

  <!-- add new tree node start-->
  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12 padding-0">
          <button mdbBtn type="button" class="text-capitalize col" gradient="blue" rounded="true" mdbWavesEffect>Card
            games</button>
        </div>
      </div>
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12">
          <button mdbBtn type="button" class="text-capitalize col" gradient="purple" rounded="true"
            mdbWavesEffect>other</button>
        </div>
      </div>
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12">
          <button mdbBtn type="button" class="text-capitalize col" gradient="aqua" rounded="true"
            mdbWavesEffect>Speedcubing</button>
        </div>
      </div>
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12">
          <button mdbBtn type="button" class="text-capitalize col" gradient="peach" rounded="true" mdbWavesEffect>Board
            games</button>
        </div>
      </div>
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12">
          <button mdbBtn type="button" class="text-capitalize col" gradient="blue" rounded="true" mdbWavesEffect>indoor
            games</button>
        </div>
      </div>
    </div>

    <!-- <div class="tf-tree example">
      <ul>
        <li>
          <span class="tf-nc"><span class="t-margin">Climbing</span>
            <br />
            <button type="button" class="btn t-icon-btn t-margin">+</button>
            <br />
            <img src="/assets/images/physical/11.png" class="img-round-shape t-margin" alt="...">
          </span>
          <ul>
            <li><span class="tf-nc">
                <span class="t-margin">Riyadh On-Sight Climbers</span>
                <br />
                <button type="button" class="btn t-icon-btn t-margin">+</button>
                <br />
                <div class="round-shape-container">
                  <img src="/assets/images/physical/10.png" class="img-round-shape t-margin" alt="...">
                  <div class="overlay progress-66"><span class="align-middle">Progrees <br /> 66/100</span></div>
                </div>
              </span>
            </li>
            <li>
              <span class="tf-nc">
                <span class="t-margin">Top Rope</span>
                <br />
                <button type="button" class="btn t-icon-btn t-margin">+</button>
                <br />
                <div class="round-shape-container">
                  <img src="/assets/images/physical/16.png" class="img-round-shape t-margin" alt="...">
                  <div class="overlay progress-100"><span class="align-middle">Progrees <br /> 100/100</span></div>
                </div>
              </span>
              <ul>
                <li><span class="tf-nc"><span class="t-margin">Rope Climbing</span>
                    <br />
                    <button type="button" class="btn t-icon-btn t-margin">+</button>
                    <br />
                    <div class="round-shape-container">
                      <img src="/assets/images/physical/17.png" class="img-round-shape t-margin" alt="...">
                      <div class="overlay progress-100"><span class="align-middle">Progrees <br /> 100/100</span></div>
                    </div>
                  </span></li>
                <li><span class="tf-nc"><span class="t-margin">New Goal</span>
                    <br />
                    <button type="button" class="btn t-icon-btn t-margin">+</button>
                    <br />
                    <div class="round-shape-container">
                      <img src="/assets/images/physical/12.png" class="img-round-shape t-margin" alt="...">
                      <div class="overlay progress-72"><span class="align-middle">Progrees <br /> 72/100</span></div>
                    </div>
                  </span></li>
                <li><span class="tf-nc"><span class="t-margin">New Top Rope</span>
                    <br />
                    <button type="button" class="btn t-icon-btn t-margin">+</button>
                    <br />
                    <div class="round-shape-container round-img-lg">
                      <img src="/assets/images/physical/16.png" class="img-round-shape t-margin round-img-lg" alt="...">
                      <div class="overlay progress-100"><span class="align-middle">Progrees <br /> 100/100</span></div>
                    </div>
                  </span>
                  <ul>
                    <li><span class="tf-nc"><span class="t-margin">Optional skills</span>
                        <br />
                        <button type="button" class="btn t-icon-btn t-margin">+</button>
                        <br />
                        <div class="round-shape-container">
                          <img src="/assets/images/physical/10.png" class="img-round-shape t-margin" alt="...">
                          <div class="overlay progress-100"><span class="align-middle">Progrees <br /> 100/100</span>
                          </div>
                        </div>
                      </span></li>
                    <li><span class="tf-nc"><span class="t-margin">Fullfils</span>
                        <br />
                        <button type="button" class="btn t-icon-btn t-margin">+</button>
                        <br />
                        <div class="rhombus-shape-container">
                          <img src="/assets/images/physical/13.png" class="img-rhombus-shape t-margin" alt="...">
                          <div class="overlay bg-none"><span class="align-middle">Bouldering</span></div>
                        </div>
                      </span></li>
                    <li><span class="tf-nc"></span>
                      <ul>
                        <li><span class="tf-nc"><span class="t-margin">Riyadh On-Sight Climbers</span>
                            <br />
                            <button type="button" class="btn t-icon-btn t-margin">+</button>
                            <br />
                            <div class="round-shape-container t-margin-3">
                              <img src="/assets/images/physical/10.png" class="img-round-shape t-margin" alt="...">
                              <div class="overlay progress-100"><span class="align-middle">Progrees <br />
                                  100/100</span>
                              </div>
                            </div>
                          </span>
                          <ul>
                            <li><span class="tf-nc"><span class="t-margin">Rope Climbing</span>
                                <br />
                                <button type="button" class="btn t-icon-btn t-margin">+</button>
                                <br />
                                <div class="round-shape-container">
                                  <img src="/assets/images/physical/17.png" class="img-round-shape t-margin" alt="...">
                                  <div class="overlay progress-100"><span class="align-middle">Progrees <br />
                                      100/100</span>
                                  </div>
                                </div>
                              </span></li>
                            <li><span class="tf-nc"><span class="t-margin">New Goal</span>
                                <br />
                                <button type="button" class="btn t-icon-btn t-margin">+</button>
                                <br />
                                <div class="round-shape-container">
                                  <img src="/assets/images/physical/12.png" class="img-round-shape t-margin" alt="...">
                                  <div class="overlay progress-72"><span class="align-middle">Progrees <br />
                                      72/100</span>
                                  </div>
                                </div>
                              </span></li>
                          </ul>
                        </li>
                        <li><span class="tf-nc"><span class="t-margin">Top Rope</span>
                            <br />
                            <button type="button" class="btn t-icon-btn t-margin">+</button>
                            <br />
                            <div class="round-shape-container">
                              <img src="/assets/images/physical/16.png" class="img-round-shape t-margin" alt="...">
                              <div class="overlay progress-72"><span class="align-middle">Progrees <br /> 72/100</span>
                              </div>
                            </div>
                          </span>
                        </li>
                        <li><span class="tf-nc"><span class="t-margin">Bouldering</span>
                            <br />
                            <button type="button" class="btn t-icon-btn t-margin">+</button>
                            <br />
                            <div class="round-shape-container">
                              <img src="/assets/images/physical/9.png" class="img-round-shape t-margin" alt="...">
                              <div class="overlay progress-100"><span class="align-middle">Progrees <br />
                                  100/100</span>
                              </div>
                            </div>
                          </span>
                          <ul>
                            <li><span class="tf-nc"><span class="t-margin">Rope Climbing</span>
                                <br />
                                <button type="button" class="btn t-icon-btn t-margin">+</button>
                                <br />
                                <div class="round-shape-container">
                                  <img src="/assets/images/physical/12.png" class="img-round-shape t-margin" alt="...">
                                  <div class="overlay progress-100"><span class="align-middle">Progrees <br />
                                      100/100</span>
                                  </div>
                                </div>
                              </span></li>
                            <li><span class="tf-nc"><span class="t-margin">New Goal</span>
                                <br />
                                <button type="button" class="btn t-icon-btn t-margin">+</button>
                                <br />
                                <div class="round-shape-container">
                                  <img src="/assets/images/physical/17.png" class="img-round-shape t-margin" alt="...">
                                  <div class="overlay progress-72"><span class="align-middle">Progrees <br />
                                      72/100</span>
                                  </div>
                                </div>
                              </span></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><span class="tf-nc"><span class="t-margin">Recommended</span>
                        <br />
                        <button type="button" class="btn t-icon-btn t-margin">+</button>
                        <br />
                        <div class="circle-shape-container">
                          <img src="/assets/images/physical/12.png" class="img-circle-shape t-margin" alt="...">
                          <div class="overlay bg-none bg-text-center"><span class="align-middle">Climbing</span>
                          </div>
                        </div>
                      </span></li>
                    <li><span class="tf-nc"><span class="t-margin">Needed (4)</span>
                        <br />
                        <button type="button" class="btn t-icon-btn t-margin">+</button>
                        <br />
                        <div class="octagon-shape-container">
                          <img src="/assets/images/physical/15.png" class="img-octagon-shape t-margin" alt="...">
                          <div class="overlay bg-none bg-text-center"><span class="align-middle">Rope</span>
                          </div>
                        </div>
                      </span></li>
                  </ul>
                </li>
                <li><span class="tf-nc"><span class="t-margin">Bouldering (Hard)</span>
                    <br />
                    <button type="button" class="btn t-icon-btn t-margin">+</button>
                    <br />
                    <div class="round-shape-container">
                      <img src="/assets/images/physical/13.png" class="img-round-shape t-margin" alt="...">
                      <div class="overlay progress-89"><span class="align-middle">Progrees <br /> 89/100</span></div>
                    </div>
                  </span></li>
                <li><span class="tf-nc"><span class="t-margin">Top Mountain</span>
                    <br />
                    <button type="button" class="btn t-icon-btn t-margin">+</button>
                    <br />
                    <div class="round-shape-container">
                      <img src="/assets/images/physical/14.png" class="img-round-shape t-margin" alt="...">
                      <div class="overlay progress-56"><span class="align-middle">Progrees <br /> 56/100</span></div>
                    </div>
                  </span></li>
              </ul>
            </li>
            <li><span class="tf-nc"><span class="t-margin">Bouldering</span>
                <br />
                <button type="button" class="btn t-icon-btn t-margin">+</button>
                <br />
                <div class="round-shape-container">
                  <img src="/assets/images/physical/9.png" class="img-round-shape t-margin" alt="...">
                  <div class="overlay progress-30"><span class="align-middle">Progrees <br /> 30/100</span></div>
                </div>
              </span></li>
          </ul>
        </li>
      </ul>
    </div> -->
    <!-- end -->
  </div>
  <section class="contentSection text-center" style="display:none">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- Main component -->
        <div class="hv-wrapper" style="overflow-x: auto;">
          <!-- Key component -->
          <div class="hv-item">
            <br /><br />
            <div class="hv-item-parent">
              <div> <span class="parent-line"></span> </div>
              <div> <span class="point-parent-top-span"></span> </div>
              <div class="parent-margin">
                <div class="t-text-width"><span>Climbing</span></div>
                <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                <div mdbPopoverHeader={{heading}} [mdbPopover]="popTemplate" placement="top" class="hvr-pulse"
                  triggers="hover" container="body">
                  <img src="/assets/images/physical/11.png" class="img-round-shape" alt="..."></div>
              </div>
              <div> <span class="child-bottom-point-span"></span> </div>
            </div>

            <div class="hv-item-children">
              <div class="hv-item-child">
                <div> <span class="point-span"></span></div>
                <div class="child-margin">
                  <div class="t-text-width"><span>Riyadh On-Sight Climbers</span></div>
                  <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                  <div class="round-shape-container content-mg hvr-float" mdbPopoverHeader={{heading}}
                    [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                    <img src="/assets/images/physical/10.png" class="img-round-shape" alt="...">
                    <div class="overlay progress-72"></div>
                    <div class="overlay-text">
                      <span class="align-middle">Progrees <br /> 172/100</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="hv-item-child">
                <div class="hv-item">

                  <div class="hv-item-parent">
                    <div> <span class="point-span"></span></div>
                    <div class="child-margin">
                      <div class="t-text-width"><span>Top Rope</span></div>
                      <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                      <div class="round-shape-container content-mg hvr-curl-top-left" mdbPopoverHeader={{heading}}
                        [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                        <img src="/assets/images/physical/16.png" class="img-round-shape" alt="...">
                        <div class="overlay progress-100"></div>
                        <div class="overlay-text">
                          <span class="align-middle">Progrees <br /> 100/100</span>
                        </div>
                      </div>
                    </div>
                    <div> <span class="child-bottom-point-span"></span> </div>
                  </div>

                  <div class="hv-item-children">
                    <div class="hv-item-child">
                      <div> <span class="point-span"></span></div>
                      <div class="child-margin">
                        <div class="t-text-width"><span>Rope Climbing</span></div>
                        <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                        <div class="round-shape-container content-mg hvr-skew-forward" mdbPopoverHeader={{heading}}
                          [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                          <img src="/assets/images/physical/17.png" class="img-round-shape" alt="...">
                          <div class="overlay progress-72"></div>
                          <div class="overlay-text">
                            <span class="align-middle">Progrees <br /> 72/100</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hv-item-child">
                      <div> <span class="point-span"></span></div>
                      <div class="child-margin">
                        <div class="t-text-width"><span>New Goal</span></div>
                        <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                        <div class="round-shape-container content-mg hvr-forward" mdbPopoverHeader={{heading}}
                          [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                          <img src="/assets/images/physical/12.png" class="img-round-shape" alt="...">
                          <div class="overlay progress-66"></div>
                          <div class="overlay-text">
                            <span class="align-middle">Progrees <br /> 66/100</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hv-item-child">
                      <div class="hv-item">

                        <div class="hv-item-parent">
                          <div> <span class="children-line"></span> </div>
                          <div> <span class="children-top-point-span"></span></div>
                          <div class="parent-margin">
                            <div class="t-text-width child-text-mg"><span>New Top Rope</span></div>
                            <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                            <div class="round-shape-container-lg content-mg hvr-buzz" mdbPopoverHeader={{heading}}
                              [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                              <img src="/assets/images/physical/16.png" class="img-round-shape-lg" alt="...">
                              <div class="overlay progress-100"></div>
                              <div class="overlay-text">
                                <span class="align-middle">Progrees <br /> 100/100</span>
                              </div>
                            </div>
                          </div>
                          <!-- <div> <span class="child-bottom-point-span"></span> </div> -->
                        </div>

                        <div class="hv-item-children childern-view">
                          <div class="hv-item-child">
                            <div> <span class="point-span"></span></div>
                            <div class="child-margin">
                              <div class="t-text-width child-text-mg"><span>Fullfils</span></div>
                              <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                              <div class="rhombus-shape-container content-mg loading" mdbPopoverHeader={{heading}}
                                [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                                <img src="/assets/images/physical/13.png" class="img-rhombus-shape" alt="...">
                                <!-- <div class="overlay bg-none"></div> -->
                                <div class="overlay-text"><span class="align-middle">Bouldering </span></div>
                              </div>
                            </div>
                          </div>
                          <div class="hv-item-child">
                            <div class="hv-item childern-mg">

                              <div class="hv-item-parent">
                                <div> <span class="children-line"></span> </div>
                                <!-- <div> <span class="children-top-point-span"></span></div> -->

                                <!-- <div> <span class="child-bottom-point-span"></span> </div> -->
                              </div>
                              <div class="hv-item-children">
                                <div class="hv-item-child">
                                  <div class="hv-item">
                                    <div class="hv-item-parent">
                                      <div> <span class="point-span"></span></div>
                                      <div class="child-margin">
                                        <div class="t-text-width child-text-mg hvr-bounce-out"><span>Riyadh On-Sight
                                            Climbers</span>
                                        </div>
                                        <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                        <div class="round-shape-container content-new-mg" mdbPopoverHeader={{heading}}
                                          [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                                          <img src="/assets/images/physical/10.png" class="img-round-shape " alt="...">
                                          <div class="overlay progress-100 "></div>
                                          <div class="overlay-text"><span class="align-middle">Progrees
                                              <br />100/100</span></div>
                                        </div>
                                      </div>
                                      <div><span class="child-bottom-point-span"></span></div>
                                      <div> <span class="child-new-point-span"></span></div>
                                    </div>
                                    <div class="hv-item-children">
                                      <div class="hv-item-child">
                                        <div> <span class="point-span"></span></div>
                                        <div class="child-margin">
                                          <div class="t-text-width"><span>Rope Climbing</span></div>
                                          <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                          <div class="round-shape-container content-mg hvr-wobble-vertical"
                                            mdbPopoverHeader={{heading}} [mdbPopover]="popTemplate" placement="top"
                                            triggers="hover" container="body">
                                            <img src="/assets/images/physical/17.png" class="img-round-shape" alt="...">
                                            <div class="overlay progress-72"></div>
                                            <div class="overlay-text"><span class="align-middle">Progrees
                                                <br />72/100</span></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="hv-item-child">
                                        <div> <span class="point-span"></span></div>
                                        <div class="child-margin">
                                          <div class="t-text-width"><span>New Goal</span></div>
                                          <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                          <div class="round-shape-container content-mg hvr-overline-reveal"
                                            mdbPopoverHeader={{heading}} [mdbPopover]="popTemplate" placement="top"
                                            triggers="hover" container="body">
                                            <img src="/assets/images/physical/12.png" class="img-round-shape" alt="...">
                                            <div class="overlay progress-66"></div>
                                            <div class="overlay-text"><span class="align-middle">Progrees
                                                <br />66/100</span></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="hv-item-child">
                                  <div> <span class="point-span"></span></div>
                                  <div class="child-margin">
                                    <div class="t-text-width"><span>Top Rope</span></div>
                                    <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                    <div class="round-shape-container content-mg hvr-wobble-vertical"
                                      mdbPopoverHeader={{heading}} [mdbPopover]="popTemplate" placement="top"
                                      triggers="hover" container="body">
                                      <img src="/assets/images/physical/16.png" class="img-round-shape" alt="...">
                                      <div class="overlay progress-66"></div>
                                      <div class="overlay-text"><span class="align-middle">Progrees <br />66/100</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="hv-item-child">
                                  <div class="hv-item-child">
                                    <div class="hv-item">
                                      <div class="hv-item-parent">
                                        <div> <span class="point-span"></span></div>
                                        <div class="child-margin">
                                          <div class="t-text-width child-text-mg"><span>Bouldering</span></div>
                                          <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                          <div class="round-shape-container content-mg" mdbPopoverHeader={{heading}}
                                            [mdbPopover]="popTemplate" placement="top" triggers="hover"
                                            container="body">
                                            <img src="/assets/images/physical/9.png" class="img-round-shape " alt="...">
                                            <div class="overlay progress-100"></div>
                                            <div class="overlay-text"><span class="align-middle">Progrees
                                                <br />100/100</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div><span class="child-bottom-point-span"></span></div>
                                        <div> <span class="child-new-point-span"></span></div>
                                      </div>
                                      <div class="hv-item-children">
                                        <div class="hv-item-child">
                                          <div> <span class="point-span"></span></div>
                                          <div class="child-margin">
                                            <div class="t-text-width"><span>Rope Climbing</span></div>
                                            <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                            <div class="round-shape-container content-mg" mdbPopoverHeader={{heading}}
                                              [mdbPopover]="popTemplate" placement="top" triggers="hover"
                                              container="body">
                                              <img src="/assets/images/physical/17.png" class="img-round-shape"
                                                alt="...">
                                              <div class="overlay progress-72"></div>
                                              <div class="overlay-text"><span class="align-middle">Progrees
                                                  <br />72/100</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="hv-item-child">
                                          <div> <span class="point-span"></span></div>
                                          <div class="child-margin">
                                            <div class="t-text-width"><span>New Goal</span></div>
                                            <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                                            <div class="round-shape-container content-mg" mdbPopoverHeader={{heading}}
                                              [mdbPopover]="popTemplate" placement="top" triggers="hover"
                                              container="body">
                                              <img src="/assets/images/physical/12.png" class="img-round-shape"
                                                alt="...">
                                              <div class="overlay progress-66"></div>
                                              <div class="overlay-text"><span class="align-middle">Progrees
                                                  <br />66/100</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="hv-item-child">
                            <div> <span class="point-span"></span></div>
                            <div class="child-margin">
                              <div class="t-text-width child-text-mg"><span>Recommended</span></div>
                              <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                              <div class="circle-shape-container content-mg" mdbPopoverHeader={{heading}}
                                [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                                <div class="layer-img-section">
                                  <img src="/assets/images/physical/9.png" class="img-circle-shape multiple-circle-img"
                                    style="left: -30%;" alt="...">
                                  <img src="/assets/images/physical/9.png" class="img-circle-shape multiple-circle-img"
                                    style="left: -20%;" alt="...">
                                  <img src="/assets/images/physical/9.png" class="img-circle-shape multiple-circle-img"
                                    style="left: -10%;" alt="...">
                                </div>

                                <!-- <div class="overlay bg-none"></div> -->
                                <div class="overlay-text"> <span class="align-middle">+5 Skills</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="hv-item-child">
                            <div> <span class="point-span"></span></div>
                            <div class="child-margin">
                              <div class="t-text-width child-text-mg"><span>Needed (4)</span></div>
                              <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                              <div class="octagon-shape-container content-mg hvr-bounce-out"
                                mdbPopoverHeader={{heading}} [mdbPopover]="popTemplate" placement="top" triggers="hover"
                                container="body">
                                <img src="/assets/images/physical/15.png" class="img-octagon-shape t-margin" alt="...">
                                <!-- <div class="overlay bg-none"></div> -->
                                <div class="overlay-text"> <span class="align-middle">Rope</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="hv-item-child">
                      <div> <span class="point-span"></span></div>
                      <div class="child-margin">
                        <div class="t-text-width"><span>Bouldering (Hard)</span></div>
                        <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                        <div class="round-shape-container content-mg" mdbPopoverHeader={{heading}}
                          [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                          <img src="/assets/images/physical/13.png" class="img-round-shape" alt="...">
                          <div class="overlay progress-89"></div>
                          <div class="overlay-text"><span class="align-middle">Progrees <br />89/100</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="hv-item-child">
                      <div> <span class="point-span"></span></div>
                      <div class="child-margin">
                        <div class="t-text-width"><span>Top Mountain</span></div>
                        <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                        <div class="round-shape-container content-mg" mdbPopoverHeader={{heading}}
                          [mdbPopover]="popTemplate" placement="top" triggers="hover" container="body">
                          <img src="/assets/images/physical/9.png" class="img-round-shape" alt="...">
                          <div class="overlay progress-56"></div>
                          <div class="overlay-text"><span class="align-middle">Progrees <br />56/100</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="hv-item-child">
                <div> <span class="point-span"></span></div>
                <div class="child-margin">
                  <div class="t-text-width"><span>Bouldering</span></div>
                  <div><button type="button" class="btn btn-sm t-icon-btn">+</button></div>
                  <div class="round-shape-container content-mg" mdbPopoverHeader={{heading}} [mdbPopover]="popTemplate"
                    placement="top" triggers="hover" container="body">
                    <img src="/assets/images/physical/9.png" class="img-round-shape" alt="...">
                    <div class="overlay progress-66"></div>
                    <div class="overlay-text"><span class="align-middle">Progrees <br />66/100</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #popTemplate>
      <p>Rope Climbing is a sport in which compitators attempt to climp up a suspendd verticle rope using only their
        hands</p>
      <div class="row padding-0 ">
        <div class="col-md-6 left padding-0 pop-btn">
          <mdb-icon fas icon="ribbon" class="p-r-5"></mdb-icon>
          <span>Reward </span>
          <span class="bold">0</span>
        </div>
        <div class="col-md-6 left padding-0 pop-btn">
          <mdb-icon fas icon="address-book" class="p-r-5"></mdb-icon>
          <span>Experience</span>
          <span class="bold">4</span>
        </div>
      </div>
    </ng-template>
  </section>
  <section class="contentSection text-center">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <lga-skills-tree></lga-skills-tree>
      </div>
    </div>
  </section>
</section>