<!-- header  -->
<!-- Full Page Intro -->
<div class="header-bg">
  <div class="view"
    style="background-image: url('./assets/images/bg/3.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-top">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div
            class="col-md-9 offset-md-2 col-lg-9 offset-lg-2 col-sm-8  offset-sm-2  white-text text-center text-md-left  wow fadeInLeft inner_lessopacity"
            data-wow-delay="0.3s">
            <div class="banner_desc system_border_radius">
              <h1 class="h1-responsive font-weight-bold ">How does it works </h1>
              <!-- <hr class="hr-light"> -->
              <h6 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
                fuga nesciunt
                dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiaeLorem ipsum
                dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
                fuga nesciunt
                dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                iste.</h6>
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    <div class="Mask align-items-center flex-arrow-holder">
      <div class="container-fluid">
        <!--Grid row-->
        <div class="row arrowholder">
          <div class="col-md-6 col-sm-6 col-xs-6" style="width:50% !important;text-align: center;">
            <a class="arrow_btn" (click)="scrollToSection('#physicalSection')">
              <mdb-icon fas class="physical_themecolorLight arrow_bounce" data-wow-delay="1s" icon="chevron-down"
                size="4x">
              </mdb-icon>
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6" style="width:50% !important;text-align: center;">
            <a class="arrow_btn " (click)="scrollToSection('#mentalSection')">
              <mdb-icon fas class="mental_themecolorLight arrow_bounce" data-wow-delay="1s" icon="chevron-down"
                size="4x">
              </mdb-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Full Page Intro -->
<!-- Main navigation -->
<div class="hero-section container-fluid m-t-5px" id="dyagonalbox">
  <div class="row" style="overflow: hidden;margin:0px -10px">
    <div class="col" style="padding: 0; position:relative;" (click)="scrollToSection('#physicalSection')">
      <div class="head-bg mental-bg">
        <div class="mental-section">
          <h1>Physical</h1>
        </div>
      </div>
    </div>
    <div class="col" style="padding: 0; position:relative;" (click)="scrollToSection('#mentalSection')">
      <div class="head-bg physical-bg">
        <div class="physical-section">
          <h1>Mental</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section *ngIf="activatesection == true" class="contentSection text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="physicalSection p-r-5 p-l-0" id="physicalSection" (click)="scrollToSection('#physicalSection')"
        [ngClass]="[(activedPhysicalSection == true) ? 'col-md-10': 'col-md-2 d-none d-sm-block']">
        <div class="pb-2  physicalSectionContainer system_border_radius z-depth-1">
          <!--Grid row-->
          <div class="row">
            <div [ngClass]="[(activedPhysicalSection == true) ? 'col-md-7': 'col-md-12']">
              <div class="card-image ">
                <div class="text-white text-center d-flex align-items-center rounded"
                  [ngClass]="[(activedPhysicalSection == true) ? 'p-15': 'py-5 py-4']">
                  <div class="center-align-db box_head_holder" id="physicalSection_title">
                    <h3 class="py-3 font-weight-bold box_title"
                      [ngClass]="{ 'tranform_text' :(activedPhysicalSection == false)}">
                      <strong>Physical</strong>
                    </h3>
                    <button [ngClass]="{ 'hide' :(activedPhysicalSection == false)}" type="button" mdbBtn color="light"
                      class="waves-light" mdbWavesEffect>
                      <i class="far fa-clone left"></i> Create Graph
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="activedPhysicalSection == true">
              <div class="row m-40">
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="./assets/images/physical/1.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="./assets/images/physical/2.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="./assets/images/physical/3.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="./assets/images/physical/4.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="./assets/images/physical/5.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 mx-auto">
                  <img src="./assets/images/physical/6.jpg" class="img-fluid z-depth-3 grid_img">
                </div>

              </div>
            </div>
            <!--Grid column-->
          </div>
        </div>
      </div>
      <div class="mentalSection p-r-0 p-l-0" id="mentalSection" (click)="scrollToSection('#mentalSection')"
        [ngClass]="[(activatedMentalSection == true) ? 'col-md-10': 'col-md-2 d-none d-sm-block']">
        <div class="pb-2  mentalSectionContainer system_border_radius z-depth-1">
          <div class="row m-r-0">
            <div
              [ngClass]="[(activatedMentalSection == true) ? 'col-md-7': 'col-md-12',(activatedMentalSection == true) ? 'rotateOutUpLeft': 'rotateOutUpRight']">
              <div class="card-image ">
                <div class="text-white text-center d-flex align-items-center rounded"
                  [ngClass]="[(activatedMentalSection == true) ? 'p-15': 'py-5 py-4']">
                  <div class="center-align-db box_head_holder" id="mentalSection_title">
                    <h3 class="py-3 font-weight-bold box_title"
                      [ngClass]="{ 'tranform_text' :(activatedMentalSection == false)}">
                      <strong>Mental</strong>
                    </h3>
                    <button [ngClass]="{ 'hide' :(activatedMentalSection == false)}" type="button" mdbBtn color="light"
                      class="waves-light" mdbWavesEffect>
                      <i class="far fa-clone left"></i> Create Graph
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4" *ngIf="activatedMentalSection == true">
              <div class="row m-40">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img src="./assets/images/physical/1.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img src="./assets/images/physical/2.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img src="./assets/images/physical/3.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <img src="./assets/images/physical/4.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                  <img src="./assets/images/physical/5.jpg" class="img-fluid z-depth-3 grid_img">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img src="./assets/images/physical/6.jpg" class="img-fluid z-depth-3 grid_img">
                </div>

              </div>
            </div>
          </div>
          <!--Grid column-->
        </div>
      </div>
    </div>
  </div>

  <!-- add new tree node start-->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12 padding-0">
          <button (click)="ShowTreeDetails(treeDetailsModal)" mdbBtn type="button" class="text-capitalize col"
            gradient="blue" rounded="true" mdbWavesEffect>Card
            games</button>
        </div>
      </div>
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12">
          <button mdbBtn type="button" class="text-capitalize col" gradient="purple" rounded="true"
            mdbWavesEffect>other</button>
        </div>
      </div>
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12">
          <button mdbBtn type="button" class="text-capitalize col" gradient="aqua" rounded="true"
            mdbWavesEffect>Speedcubing</button>
        </div>
      </div>
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12">
          <button mdbBtn type="button" class="text-capitalize col" gradient="peach" rounded="true" mdbWavesEffect>Board
            games</button>
        </div>
      </div>
      <div class="col">
        <div class="rule"></div>
        <div class="col-md-12">
          <button mdbBtn type="button" class="text-capitalize col" gradient="blue" rounded="true" mdbWavesEffect>indoor
            games</button>
        </div>
      </div>
    </div>

    <!-- tree component start -->
    <div class="justify-content-center">
      <lga-skills-tree></lga-skills-tree>
    </div>
    <!-- tree component end -->

    <div mdbModal #treeDetailsModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <lga-skill-details></lga-skill-details>
    </div>
    
