.mat-dialog-actions {
    justify-content: flex-end;
    button {
        margin-left: 24px;
    }
}

mat-dialog-content {
    margin-top: 24px;
    margin-bottom: 12px;
}

h6 {
    margin-bottom: 16px;
    line-height: 1.6rem;
}

