<section class="hv-management-hierarchy">
    <br />
    <br />
    <div class="hv-container">
        <div class="hv-wrapper">
            <!-- Key component -->
            <div class="hv-item">
                <div class="hv-item-parent hv-m-t">
                    <div class="hv-card-container">
                        <div class="hv-card-body">
                        </div>
                    </div>
                    <span class="hv-child-span"></span>
                </div>
                <ng-container *ngTemplateOutlet="recursiveTreeList; context:{ $implicit: skillsList,parentTree : null }"></ng-container>
                <ng-template #recursiveTreeList let-skillchildren let-parentTree='parentTree'>
                    <div class="hv-item-parent">
                        <div class="hv-card-container">
                            <p class="hv-card-title">{{skillchildren.title}}</p>
                            <div><button type="button" class="btn btn-sm hv-plus-button">+</button></div>
                            <div class="hv-card-body {{skillchildren.animation}} {{skillchildren.shape}}"
                                mdbPopoverHeader={{heading}} [mdbPopover]="popTemplate" placement="top" triggers="hover"
                                container="body" [ngClass]="{ 'hv-card-body-active' : (selectedSkillId == skillchildren.id)}" (click)="changeSkillData($event,skillchildren)">
                                <img [src]="skillchildren.imagepath" class="image" alt="...">
                                <div class="hv-overlay" [ngStyle]="{'height.%': skillchildren.progrees}"></div>
                                <ng-container *ngIf="skillchildren.skillname == null || skillchildren.skillname == undefined || skillchildren.skillname == '' ; then thenBlock; else elseBlock">
                                </ng-container>
                                <ng-template #thenBlock>
                                    <div class="hv-overlay-text">Progrees <br> {{skillchildren.progrees}}/100</div>
                                </ng-template>
                                <ng-template #elseBlock>
                                    <div class="hv-overlay-text">{{skillchildren.skillname}}</div>
                                </ng-template>
                            </div>
                        </div>
                        <span class="hv-child-span"></span>
                    </div>
                    <div class="hv-item-children">
                        <div class="hv-item-child" *ngFor="let skillchild of skillchildren.children">
                            <ng-container *ngTemplateOutlet="recursiveTreeList; context:{ $implicit: skillchild,parentTree : skillchildren }"></ng-container>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <ng-template #popTemplate>
        <p>Rope Climbing is a sport in which compitators attempt to climp up a suspendd verticle rope using only their
            hands</p>
        <div class="row padding-0 ">
            <div class="col-md-6 left padding-0 pop-btn">
                <mdb-icon fas icon="ribbon" class="p-r-5"></mdb-icon>
                <span>Reward </span>
                <span class="bold">0</span>
            </div>
            <div class="col-md-6 left padding-0 pop-btn">
                <mdb-icon fas icon="address-book" class="p-r-5"></mdb-icon>
                <span>Experience</span>
                <span class="bold">4</span>
            </div>
        </div>
    </ng-template>
</section>