$min-height:440px;

.aboutcontainer {
    margin-right: 20px;
    margin-left: 20px;
}

.bg-about {
    background-image: url(../../../../assets/images/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 340px !important;
}
.about-box{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: $min-height !important;
} 
.bg-vision {
    background-image: url(../../../../assets/images/vision.png);
}

.bg-mission {
    background-image: url(../../../../assets/images/mission.png);
}

.bg-values {
    background-image: url(../../../../assets/images/values.png);
    .card-body{
        padding-top: 5.6rem !important;
    }
    ul.value_list{
        text-align: left;
        color: #fff;
        color: #ffffff;
        font-size: 28px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;
        letter-spacing: 1px;
    }
    ul.value_list li{

    }
}

.bg-motto {
    background-image: url(../../../../assets/images/motto.png);
}

.about-heading {
    // width: 314px;
    // height: 93px;
    color: #ffffff; 
    font-size: 68px;
    font-weight: 400;
    line-height: 90px;
    text-align: center;
    letter-spacing: 0.8812439px;
}

.about-text {
    width: 530px;
    height: auto;
    color: #ffffff; 
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    letter-spacing: 1px;
}

.pt-pb {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}