<div class="container-fluid main_margintop">
  <div class="ml-3 mr-3 mt-2 mb-2">
    <div class="row">
      <div class="col-md-12 mt-2 mb-2 p-0">
        <div class="card text-center col-md-12 bg-about rounded-lg">
          <div class="card-body pt-5 pb-5">
            <h5 class="card-title about-heading">What</h5>
            <div class="d-flex justify-content-center">
              <p class="about-text">A real-life self-Improvement game that tracks your progress and helps in planning
                your life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2 mb-2 pr-md-2 p-0">
        <div class="card text-center bg-vision about-box rounded-lg">
          <div class="card-body pt-pb">
            <h5 class="card-title about-heading">Vision</h5>
            <div class="d-flex justify-content-center">
              <p class="about-text">To be the leading pioneer for quantifying mental & physical growth.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2 mb-2 pl-md-2 p-0">
        <div class="card text-center bg-mission about-box rounded-lg">
          <div class="card-body pt-pb">
            <h5 class="card-title about-heading">Mission</h5>
            <div class="d-flex justify-content-center">
              <p class="about-text">Paving the path for improving & discovering areas of interest through structure
                & community.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2 mb-2 pr-md-2 p-0">
        <div class="card text-center bg-values about-box rounded-lg">
          <div class="card-body">
            <h5 class="card-title about-heading">Values</h5>
            <div class="d-flex justify-content-center">
              <!-- <p class="about-text"> -->
                <ul class="value_list">
                  <li>Growth</li>
                  <li>Confidence</li>
                  <li>Grit</li>
                  <li>Progress</li>
                  <li>Support</li>
                  <li>Encouragement</li>
                </ul>
                <!-- <ul>
                  <li>Growth</li>
                  <li>Confidence</li>
                  <li>Grit</li>
                  <li>Progress</li>
                  <li>Support</li>
                  <li>Encouragement</li>
                </ul> -->
              <!-- </p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2 mb-2 pl-md-2 p-0">
        <div class="card text-center bg-motto about-box rounded-lg">
          <div class="card-body pt-pb">
            <h5 class="card-title about-heading">Motto</h5>
            <div class="d-flex justify-content-center">
              <p class="about-text">Uniting People's Passions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>